body {
    background-color: #191919;
    color: white;
}

#logo {
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

#home-txt {
    display: block;
    z-index:12;
}

#header {
    background-image: url("https://w.wallhaven.cc/full/83/wallhaven-83rr62.jpg")
}

