body {
    background-color: white;
    color: white;
}

/*=========== NavBar ================*/

#logo {
    margin-right: 20px;
    margin-left: 20px;
}

.navbar, .navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/*=========== Header ================*/
#home-txt {
    display: block;
    z-index:12;
}

#header {
    height: 500px;
    background-image: url("https://cdn.discordapp.com/attachments/822541048059920435/851807466572087296/wallhaven-83rr62.jpg");
    background-size: cover;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

#head-title {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}


#p-title {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}


/*=========== Tabs ================*/
.nav {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}













































